/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'sego UI', 'calibri', 'Raleway';
        }

        body,
        h1,
        h2,
        h3{
            margin: 0;
        }